*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libahash-550bf10e4a7a135d.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libanstream-160fa22ab70bff41.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libanstyle-b6cba8f4d2d235c4.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libanstyle_parse-9352c7ee79516e19.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libanyhow-d719bff7fd95afe5.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libclap_builder-18fd70959dc75ab4.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libcolored-13fe8b9065e8809e.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libcrossbeam_epoch-768f17e61bd26b60.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libcrossbeam_utils-c57491d5facaa175.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libeither-3ca528989997c221.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libhashbrown-e8a79824e7ac469a.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libheart_core-fdc8aa66a749e83a.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libheck-0abfc3ef9fc28990.rlib filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libindexmap-07f0f5b90c545315.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libmemchr-b3fd7349d97e8f40.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libproc_macro2-80582d4b32dd3f0e.rlib filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libproc_macro2-80582d4b32dd3f0e.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libquote-51b4b93ee1b739e7.rlib filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libquote-51b4b93ee1b739e7.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/librayon-98ac1ff235f2657e.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/librayon_core-b5967721cad2191c.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libserde-6e8af03edd934024.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libserde_core-f52e05791af45af4.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libserde_json-c0f26946a57cac75.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libsyn-cfb1e0682b005dae.rlib filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libsyn-cfb1e0682b005dae.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libunicode_segmentation-2d732858c64a69fc.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libversion_check-389291472dde8cbb.rlib filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libwindows_sys-8f65b8627259776c.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libwindows_sys-99b58768b8a1ba25.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libzerocopy-2bf536fdc5e59385.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/deps/libzmij-f14d9f76b8d78ae0.rmeta filter=lfs diff=lfs merge=lfs -text
sephirot-rs/target/debug/incremental/heart_core-2fwjuvb7cvy4x/s-hlmz24k7zp-1cofahd-cttm7db1gnq96w9d75df0s6kc/metadata.rmeta filter=lfs diff=lfs merge=lfs -text
